<div class="table-container">
  <mat-toolbar color="primary" class="table-toolbar">
    <span>{{tableDefinition.title}}</span>
    <span class="toolbar-spacer"></span>
    <button mat-mini-fab color="accent" class="add-button" (click)="onAddButtonClick()">
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <ng-container *ngFor="let column of tableDefinition.columns">
        <ng-container [matColumnDef]=column.key>
          <th mat-header-cell *matHeaderCellDef> {{column.label}} </th>
          <td mat-cell *matCellDef="let element">
            <ng-container [ngSwitch]="column.type">
              <span *ngSwitchCase="'text'">{{element[column.key]}}</span>
              <span *ngSwitchCase="'number'">{{element[column.key] | number}}</span>
              <span *ngSwitchCase="'date'">{{element[column.key] | date:'shortDate'}}</span>
              <span *ngSwitchCase="'boolean'">{{element[column.key] ? 'Sí' : 'No'}}</span>
              <span *ngSwitchDefault>{{element[column.key]}}</span>
            </ng-container>
          </td>
        </ng-container>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
    </mat-paginator>
  </div>
</div>
